/* Main App container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Light mode theme */
.light-mode {
  background-color: white;
  color: black;
}

/* Dark mode theme */
.dark-mode {
  background-color: #121212;
  color: white;
}
